<aside>
  <figure>
    <img src="https://visualhunt.com/photos/2/portrait-of-girl-lying-in-autumn-leaves.jpg?s=l" alt="Joyce Wen Picture">
    <figcaption>Joyce Wen</figcaption>
  </figure>
  <address>
    <a href="mailto:joycewen0216@gmail.com">joycewen0216@gmail.com</a>
    <div><i class="fas fa-map-marker-alt fa-sm"></i>New Taipei City, Taiwan</div>
  </address>
  <div>
    <div>SKILLS</div>
    <ul>
      <li>
        <h3>Languages</h3>
        <p>HTML5, CSS3, RWD</p>
      </li>
      <li>
        <h3>Frameworks</h3>
        <p>Bootstrapy</p>
      </li>
      <li>
        <h3>Libraries/APIs</h3>
        <p>jQuery, 
          <a target="_blank" href="https://owlcarousel2.github.io/OwlCarousel2/">Owl Carousel 2</a>
          <a target="_blank" href="http://scrollme.nckprsn.com/">ScrollMe</a>
          <a target="_blank" href="https://plyr.io/">Plyr</a>
          <a target="_blank" href=""></a>
        </p>
      </li>
      <li>
        <h3>Tools</h3>
        <p>Illustrator, Photoshop, Adobe XD, Sketch</p>
      </li>
    </ul>
  </div>


</aside>